{% extends 'base.html.twig' %}

{% block body %}
    <h3>Add New Group</h3><br>
    <div class="row">
        <div class="col-xs-5">
            {{ include('form/_form_new_edit.html.twig') }}
        </div>
    </div>
{% endblock %}