{% extends 'base.html.twig' %}

{% block body %}

    <h3>Delete Contact</h3><br>

    <p>Are you sure delete contact {{form.vars.value.firstname}} {{form.vars.value.lastName}} ?</p>

    {{ form_start(form) }}
    <input type="submit" value="Delete" class="btn btn-danger" />
    {{ form_end(form) }}

{% endblock %}